* {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
}


a {
    font-size:20px;
    width: 7%;
    background-color:#fcff4f ;
    padding: 12px;
    margin: 275 px;
    border-radius: 7px;
    text-decoration: none;
    color: black;
}