body {
    font-family: Helvetica;
    font-style: oblique;
    margin: 0;
    box-sizing: border-box;
}

button {
    text-decoration: none ;
}

a {
    text-decoration: none ;
}

.debug {
    border: solid 1px red;
}