.DetailCard {
    display: flex;
    flex-direction:column;
    align-items:flex-start;
    background-image: url('../../utils/Detail.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
}

.DetailCard >div > a {
    width: 7rem;
    border-style: double;
    color: black;
    font-weight: bold;
    border-radius: 10rem;
    text-align: center;
    border-color: rgba(36, 36, 33, 0.815);
    background-color:white;
}

.DetailCard > div{
    display: flex;
    flex-direction: column;
    margin: 1rem 3rem 1rem 3rem ;
}
.DetailCard > div >label{
    margin-top: 0.2rem;
}
