.card{
width: 16rem;
height: 25rem;
display:flex;
flex-direction:column;
box-sizing: content-box;
align-items:center;
justify-content:flex-start;
color:black;
margin: 0.5rem;
border: solid 2px rgb(5, 5, 5) ;
font-style: oblique;
}
.card > button{
    width:4rem;
    cursor: pointer;
}

.name{
    font-weight: 700;
}
