.contenedor {
    background-image: url("src/utils/Formulario.webp");
    background-position:top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 100vh;
}

.contenedor>a {
    width: 7rem;
    border-style: double;
    color: black;
    font-weight: bold;
    border-radius: 10rem;
    text-align: center;
    border-color: rgba(36, 36, 33, 0.815);
    background-color: white;
    margin-left: 2rem;
    margin-top: 2rem;
}

.formulario {
    display: flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items: center;
    margin: 2rem;
    width: 95%;
    height: 90%;
    border-bottom: solid 1rem red;
    border-radius: 3rem;
}

.inputForm {
    padding: 0.2rem 0.6rem;
    border-radius: 7px;
    border-color: rgba(36, 36, 33, 0.815);
    color: black;
    font-size: medium;
    font-style: oblique;
    margin: 1rem;
}

.formulario>div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: flex-start;
    width: 30%;
    margin: 0.5rem;
    padding-left: 2rem;
}