.div1 {
    display: flex;
    flex-direction: column;
    background-image: url("src/utils/retrato.jpg");
    background-size: cover;
    justify-content: center;
    align-items:center;
    padding-top: 0.5rem;
    width: 100%;
}

.div1>div>h1 {
    display: flex;
    justify-content: center;
    font-size: 60px;
    color: red;
    opacity: 0.8;
    font-style: oblique;
}

.div1>div>h2 {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color: red;
    opacity: 0.8;
    font-style: oblique;
}

.div1>div>h4 {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    color: red;
    font-style: oblique;
}

.div1>div>button {
    display: flex;
    justify-content: center;
    padding: 0.5rem 2rem 0.5rem 2rem;
    width: 6%;
    background-color: red;
    font-size: 1.4rem;
    color: white;
    font-style: oblique;
    border-radius: 1rem;
}

.div1>footer {
    background-color: black;
    margin-top: 9.2rem;
    font-size: 1rem;
    color: white;
    font-style: oblique;
    width: 100%;
}

.div1>img {
    display: flex;
    width: 9rem;
    margin: 0;

}
.div1>footer>p{
 margin-left: 2rem;
}