.div1{
    background-image:url("src/utils/Landing.webp");
    padding:170px 170px 170px 100px;
    height: 50vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    font-family:  Helvetica;
    color: #fcff4f;
}

.div1 > h1{
    padding: 5px;
    font-size:67px;
    color:#fcff4f;
    font-style: oblique;

}
.text-container {
    border-radius: 310px;
    width: 500px;
    padding: 58px;
    background-color: #c5c5bb;
    opacity: 0.7;
    color: azure;
    color:black;
    margin-bottom: 35px;
}
.div2{
    font-size:25px;
    display: flex;
    flex-direction:column; 
}

.text-container > button {
    font-size:19px;
    font-weight:bold;
    font-style: oblique;
    width: 80px;
    background-color:#fcff4f ;
    padding: 15 px;
    margin: 275 px;
    border-radius: 7px;
    text-decoration: none;
    color: black;
}