.form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #c5c5c5;
    width: 100%;
}

.form>input {
    margin: 1rem 0.5rem 1rem 30rem;
    padding: 0.2rem 0.6rem;
    border-radius: 7px;
    border-color: rgba(36, 36, 33, 0.815);
    color: black;
    font-size: medium;
    font-weight: bold;
    font-style: oblique;
}

.form>a {
    width: 7rem;
    margin: 1rem;
    border-style: double;
    color: black;
    font-weight: bold;
    border-radius: 10rem;
    text-align: center;
    border-color: rgba(36, 36, 33, 0.815);
    background-color:white;
}

.form>button {
    margin: 1rem 0 1rem 0;
    width: 5%;
    font-size: 1rem;
    font-weight: bold;
    font-style: oblique;
    border-color: rgba(36, 36, 33, 0.815);
    border-radius: 0.5rem;
    border-width: 2px;
    color: black;
}
